.header-container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
/*  position: fixed;*/
}

.logo-item {
  display: flex;
  color: MediumAquaMarine;
  padding-left: 30px;
  align-items: center;
  border: 1px solid black;
}

.logo-item span {
  padding-left: 12px;
}

.nav-item {
  padding-right: 40px;
  display: flex;
  /*justify-content: flex-end;*/
  /*float: right;*/
/*  align-self: flex-end;*/
}

.nav-item span {
  display: inline-block;
  padding: 20px 10px;
/*  justify-content: flex-end;*/
  }

  .nav-item span a {
    color: black;
  }

.main-content {
  display: flex;
/*  flex-direction: column;*/
  border: 1px solid black;
/*  justify-content: space-around;*/
}

/*.Column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}*/

.column-large {
  width: 630px;
  border: 1px solid black;
  margin: 16px 0;
  margin-right: 32px;
}

.column-medium {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
/*  align-items: center;*/
}

.column-small {
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/*.column-large .mainstory {
  background-image: url("../images/mainstory.png");
}*/

/*.Mother-three {
  border: 1px solid black;

}*/

.main-content .column-large .Mother-three {
  border: 1px solid black;
  background-image: url("../images/mainstory.png");
}

.main-content .column-large .monument {
  margin: 16px 0;
}

.main-content .column-large .Orca-Vaca {
  border: 2px solid black;
}

.main-content .column-large .Orca-Vaca .earth-spins {
  border: 1px solid black;
}

.main-content .column-large .Burger4B {
  border: 2px solid black;
}

.main-content .column-large .Burger4B .camera-memory {
  border: 1px solid black;
}

.main-content .column-medium .fbi-finds {
  border: 1.5px solid black;
}

.main-content .column-medium .fbi-finds .cats {
  border: 1px solid black;
}

.main-content .column-small .news-bites {
  border: 1px solid black;
}
